<div class="dio-intint__wrapper">
    <div class="dio-intint">
        <div class="dio-intint__container">
            <%= require('./slider.html') %>
            <%= require('ejs-loader!./portrait.ejs')() %>
            <div class="mode--landscape">
                <%= require('ejs-loader!./rating-block.ejs')() %>
                <%= require('ejs-loader!./download-btn.ejs')({offset: true}) %>
            </div>
        </div>
    </div>
</div>