<div class="dio-intint__wrapper">
    <div class="dio-intint">
        <div class="dio-intint__container">
            <%= require('./slider.html') %>
            <%= require('ejs-loader!./portrait.ejs')() %>
            <div class="mode--landscape">
                <div class="landscape__col">
                    <%= require('ejs-loader!./rating-block.ejs')() %>
                </div>
                <div class="landscape__col">
                    <%= require('./download-btn.html') %>
                </div>
            </div>
        </div>
    </div>
</div>