<!doctype html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport"
       content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Document</title>
 <link rel="stylesheet" href="./styles.css">
 <style>
  .website {
   width: 95%;
   height: 95%;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: rgba(0, 0, 0, 0.7);
   display: flex;
   justify-content: center;
   align-content: center;
   align-items: center;
   overflow: scroll;
  }
 </style>
</head>
<body>
 <div class="website">
  <%= require(`ejs-loader!./${htmlWebpackPlugin.options.templateState}.ejs`)() %>
 </div>
 <script src="./bundle.js"></script>
</body>
</html>