@import './styles.css';

@media screen and (orientation: landscape) {
    .mode--landscape {
        width: 100%;
        overflow: hidden;
        margin-top: 30px;
        display: table;
    }
    .slider__slide img {
        max-height: 50vh;
    }
}

@media screen and (orientation: portrait) {
    .slider__slide img {
        max-height: 250px;
    }
}
