@import './styles.css';

@media screen and (orientation: landscape) {
    .mode--landscape {
        width: 100%;
        overflow: hidden;
        margin-top: 1.875em;
        display: table;
    }
}

@media screen and (orientation: portrait) {
    .slider__slide img {
        max-height: 40vh;
    }
}

@media screen and (max-height: 565px) {
    .slider__slide img {
        max-height: 50vh;
    }
    
}
